<footer>
  <div class="container">
      <div class="wrapper">

          <div class="logo_group">
              <div class="logo">
                  <img src="img/logo.svg">
              </div>

              <ul class="footer-contact">
                  <li class="--email"><a href="#">mail@example.com</a></li>
                  <li class="--phone"><a href="#">+7 (800) 800-80-80</a></li>
                  <li class="--addres"><a href="#">г. Город, ул. Улица, д. 454</a></li>
                  <li class="mobile"><button id="sub_btn">Подпишитесь на новости и акции</button></li>
              </ul>
          </div>

          <div class="menus">
              <div class="col js-toggle">
                  <div class="head"><span>Услуги</span> </div>
                  <ul>
                      <li><a href="#">Ремонт оборудования</a></li>
                      <li><a href="#">Сопровождение майнинга</a></li>
                      <li><a href="#">Сборка и настройка</a></li>
                      <li><a href="#">майнинг ферм</a></li>
                  </ul>
              </div>

              <div class="col js-toggle">
                  <div class="head"><span>Компания</span></div>
                  <ul>
                      <li><a href="#">Каталог</a></li>
                      <li><a href="#">Доставка</a></li>
                      <li><a href="#">Отзывы</a></li>
                      <li><a href="#">О компании</a></li>
                      <li><a href="#">Новости</a></li>
                      <li><a href="#">Контакты</a></li>
                  </ul>
              </div>

              <div class="col">
                  <div class="head"><span>Каталог</span></div>
                  <ul>
                      <li><a href="#">Бренды</a></li>
                      <li><a href="#">ASIC Майнеры</a></li>
                      <li><a href="#">Комплектующие</a></li>
                      <li><a href="#">Акции</a></li>
                  </ul>
              </div>
          </div>

          <div id="subscribe" class="subscribe">
              <div class="modal_content">
              <div class="head">Подпишитесь на новости и акции</div>
              <form>
                  <input type="email" name="email" placeholder="E-mail">
                  <a href="#" class="link">Подписаться</a>
              </form>
              <span class="close">&times;</span>
              </div>
          </div>
      </div>
  </div>
</footer>

  <div class="popup-general modal --entry" id="popup-entry">

    <div class="popup-general__popup-wrap">
  
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Войти</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
          <form action="#" class="popup-general__form form-popup-general">
            <div class="form-popup-general__lsit">
              <div class="form-popup-general__wrap-input wrap-input errors">
                <input type="text" placeholder="E-Mail*">
              </div>
  
              <span class="form-errors">Заполните все обязательные поля</span>
  
  
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="password" placeholder="Пароль *">
                <img class="wrap-input__icon-pass js-show-pass" src="./img/icon-show-pass.png" alt="">
              </div>
            </div>
  
            <div class="form-popup-general__wrap-button">
              <button type="submit" class="form-popup-general__submit btn-var-two">Войти</button>
            </div>
  
            <div class="form-popup-general__group">
              <a href="#" class="form-popup-general__button">Забыли пароль?</a>
              <a href="#" class="form-popup-general__button">Зарегистрироваться</a>
            </div>
  
          </form>
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <div class="popup-general modal --password-rec" id="popup-password-rec">
  
    <div class="popup-general__popup-wrap">
  
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Восстановление пароля</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
  
          <form action="#" class="popup-general__form form-popup-general">
  
            <div class="form-popup-general__text">
              Пожалуйста укажите адрес электронной почты, который вы использовали для создания вашей учетной записи, и мы
              пришлем вам ссылку для восстановления Вашего пароля.
            </div>
  
            <div class="form-popup-general__lsit">
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="text" placeholder="E-Mail*">
              </div>
  
              <span class="form-errors">Заполните все обязательные поля</span>
  
            </div>
  
            <div class="form-popup-general__wrap-button">
              <button type="submit" class="form-popup-general__submit btn-var-two">Восстановить пароль</button>
            </div>

            <div class="form-popup-general__group">
                <a href="javascript:void(0);" class="form-popup-general__button changeFormAuth" data-dopclass="--entry" data-form-type="LOGIN">Вернуться к авторизации</a>
            </div>
  
          </form>
        </div>
        
  
      </div>
  
    </div>
  </div>
  
  <div class="popup-general modal --regist" id="popup-regist">
    <div class="popup-general__popup-wrap">
  
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Зарегистрироваться</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
  
          <form action="#" class="popup-general__form form-popup-general">
  
            <div class="form-popup-general__lsit">
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="text" placeholder="Ваше ФИО *">
              </div>
  
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="text" placeholder="E-Mail*">
              </div>
  
              <span class="form-errors">Заполните все обязательные поля</span>
  
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="password" placeholder="Пароль *">
                <img class="wrap-input__icon-pass js-show-pass" src="./img/icon-show-pass.png" alt="">
              </div>
            </div>
  
            <div class="form-popup-general__subtext">
              Нажимая кнопку подтверждения заказа я даю своё согласие на обработку
              моих персональных данных на условиях <a href="#">Соглашения об обработке персональных данных</a></div>
  
            <div class="form-popup-general__wrap-button">
              <button type="submit" class="form-popup-general__submit btn-var-two">Регистрация</button>
            </div>
  
            <div class="form-popup-general__group">
              <a href="#" class="form-popup-general__button">Войти</a>
            </div>
  
          </form>
        </div>
  
      </div>
  
    </div>
  </div>

  <div class="popup-general modal --review" id="popup-review">
    <div class="popup-general__popup-wrap">
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Оставить отзыв</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
  
          <form action="#" class="popup-general__form form-popup-general">
  
            <div class="form-popup-general__lsit">
              <div class="form-popup-general__wrap-input wrap-input">
                <div class="wrap-input__name">Оцените товар</div>
  
                <div class="wrap-input__rating rating">
                  <div class="rating__wrap">
                    <label class="rating__item added">
                      <input type="radio" name="rating" checked>
                      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M6.50046 9.40904L2.86499 11.1929L3.5593 7.41462L0.618146 4.73883L4.68272 4.18759L6.50046 0.75L8.31819 4.18759L12.3828 4.73883L9.44161 7.41462L10.1359 11.1929L6.50046 9.40904Z"
                          stroke="#c41616" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </label>
                    <label class="rating__item added">
                      <input type="radio" name="rating">
                      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M6.50046 9.40904L2.86499 11.1929L3.5593 7.41462L0.618146 4.73883L4.68272 4.18759L6.50046 0.75L8.31819 4.18759L12.3828 4.73883L9.44161 7.41462L10.1359 11.1929L6.50046 9.40904Z"
                          stroke="#c41616" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </label>
                    <label class="rating__item added">
                      <input type="radio" name="rating">
                      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M6.50046 9.40904L2.86499 11.1929L3.5593 7.41462L0.618146 4.73883L4.68272 4.18759L6.50046 0.75L8.31819 4.18759L12.3828 4.73883L9.44161 7.41462L10.1359 11.1929L6.50046 9.40904Z"
                          stroke="#c41616" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </label>
                    <label class="rating__item added">
                      <input type="radio" name="rating">
                      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M6.50046 9.40904L2.86499 11.1929L3.5593 7.41462L0.618146 4.73883L4.68272 4.18759L6.50046 0.75L8.31819 4.18759L12.3828 4.73883L9.44161 7.41462L10.1359 11.1929L6.50046 9.40904Z"
                          stroke="#c41616" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </label>
                    <label class="rating__item added">
                      <input type="radio" name="rating">
                      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M6.50046 9.40904L2.86499 11.1929L3.5593 7.41462L0.618146 4.73883L4.68272 4.18759L6.50046 0.75L8.31819 4.18759L12.3828 4.73883L9.44161 7.41462L10.1359 11.1929L6.50046 9.40904Z"
                          stroke="#c41616" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </label>
                  </div>
                </div>
              </div>
  
              <div class="form-popup-general__wrap-input wrap-input errors">
                <textarea placeholder="Оставьте свой комментарий"></textarea>
              </div>
  
              <span class="form-errors">Пожалуйста, добавьте отзыв</span>
  
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="text" placeholder="Представьтесь, пожалуйста">
              </div>
            </div>
  
            <div class="form-popup-general__wrap-button">
              <button type="submit" class="form-popup-general__submit btn-var-two">Оставить отзыв</button>
            </div>
          </form>
  
  
        </div>
  
      </div>
    </div>
  </div>

  <div class="popup-general modal --one-click" id="popup-one-click">
    <div class="popup-general__popup-wrap">
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Купить в 1 клик</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
          <div class="popup-general__add-basket">

            <form action="#" class="popup-general__form form-popup-general">
              <div class="form-popup-general__lsit">
                <div class="form-popup-general__wrap-input wrap-input">
                  <div class="wrap-input__name">Ваше имя</div>
                  <input type="text">
                </div>
  
                <div class="form-popup-general__wrap-input wrap-input">
                  <div class="wrap-input__name">Ваш телефон</div>
                  <input type="text">
                </div>
              </div>
  
              <div class="form-popup-general__wrap-button">
                <div class="form-popup-general__policy">
                  Нажимая кнопку подтверждения заказа я даю своё согласие на обработку моих персональных данных на
                  условиях
                  <a href="#">Соглашения об обработке персональных данных</a>
                </div>
                <button type="submit" class="form-popup-general__submit btn-var-two">оформить заказ</button>
              </div>
            </form>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>

  <div class="popup-general modal --result" id="popup-result">
    <div class="popup-general__popup-wrap">
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Спасибо</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
          <div class="popup-general__result-name">Отзыв успешно добавлен</div>
          <div class="popup-general__result-text">Мы опубликуем ваш отзыв в ближайшее время.</div>
          <a href="#" class="popup-general__result-button btn-var-two">продолжить покупки</a>
        </div>
  
      </div>
    </div>
  </div>

  <div class="popup-general modal --add-basket" id="popup-add-basket">
    <div class="popup-general__popup-wrap">
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Товар добавлен в корзину</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
          <div class="popup-general__add-basket">
            <div class="popup-general__add-basket-product popup-roduct">
              <div class="popup-roduct__image"><img src="./img/products/asic.png" alt=""></div>
  
              <div class="popup-roduct__wrap">
                  <div class="popup-roduct__group-name">
                    <div class="popup-roduct__name">Antminer S17 56Th</div>
  
                    <div class="popup-roduct__article">Артикул: 40194</div>

                    <div class="popup-roduct__price">
                      <span class="popup-roduct__price-current">45 000 ₽</span>
                      <span class="popup-roduct__price-old">60 000 ₽</span>
                    </div>
                </div>
  
              </div>
            </div>
  
            <div class="popup-general__add-basket-slider-wrap">
  
              <div class="popup-general__add-basket-buttons">
                <a href="#" class="popup-general__add-basket-button btn-var-two --border">продолжить покупки</a>
                <a href="#" class="popup-general__add-basket-button btn-var-two">Перейти в корзину</a>
              </div>
  
            </div>
  
          </div>
        </div>
  
      </div>
  
    </div>
  </div>

  <div class="popup-general modal --order" id="popup-order">
    <div class="popup-general__popup-wrap">
  
      <div class="popup-general__body">
  
        <div class="popup-general__group-title">
          <div class="popup-general__title">Отсавить заявку</div>
          <div class="popup-general__close js-modal-close"></div>
        </div>
  
        <div class="popup-general__wrap">
  
          <form action="#" class="popup-general__form form-popup-general">
  
            <div class="form-popup-general__lsit">
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="text" placeholder="Ваше ФИО *">
              </div>
  
              <div class="form-popup-general__wrap-input wrap-input">
                <input type="text" placeholder="E-Mail*">
              </div>
    
              <div class="form-popup-general__wrap-input wrap-input">
                <textarea placeholder="Текст обращения"></textarea>
              </div>
            </div>
  
            <div class="form-popup-general__subtext">
              Нажимая кнопку Оставить заявку я даю своё согласие на обработку
              моих персональных данных на условиях <a href="#">Соглашения об обработке персональных данных</a></div>
  
            <div class="form-popup-general__wrap-button">
              <button type="submit" class="form-popup-general__submit btn-var-two">Оставить заявку</button>
            </div>
  
          </form>
        </div>
  
      </div>
  
    </div>
  </div>

</div>

<script src="js/jquery-2.2.4.min.js"  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://yastatic.net/share2/share.js"></script>
<script src="js/flickity.pkgd.min.js"></script> 
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.marquee.min.js"></script>
<script src="js/lightgallery.min.js"></script>
<script src="js/lg-thumbnail.min.js"></script>
<script src="js/lg-fullscreen.min.js"></script>
<script src="js/jquery.inputmask.min.js"></script>
<script src="js/mmenu.js"></script>
<script src="js/dynamicAdapt.js"></script>
<script src="js/script.js"></script>
</body>
</html>