footer {
	border-top: 1px solid #e2e2e2;
	padding-top: 64px;
	padding-bottom: 72px;
	margin-top: 70px;
}

footer .wrapper,
footer .wrapper .menus,
.social {
	display: flex;
}

.social {
	gap: 16px;
}

.social a:hover {
	transform: translate(0, -5px);
}

footer .wrapper {
	justify-content: space-between;
	gap: 20px;
}

footer .wrapper .menus {
	justify-content: space-around;
	gap: 15px;
	width: 100%;
}

footer .wrapper .menus ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer .logo_group {
	flex-basis: 311px;
	flex-shrink: 0;
}

footer .logo {
	margin-bottom: 30px;
}

footer .logo img {
	width: 100%;
	margin-bottom: 16px;
}

footer .head {
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 15px;
}

footer .wrapper .menus li:not(:last-child) {
	margin-bottom: 15px;
}

footer .wrapper .menus a {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	border-bottom: 1px solid transparent;
}

footer .wrapper .menus a:hover {
	color: var(--red);
	border-color: var(--red);
}

footer .mobile {
	display: none;
}

footer .footer-contact li:not(:last-child) {
	margin-bottom: 15px;
}

footer .footer-contact li a {
	position: relative;
	padding-left: 35px;
}

footer .footer-contact li.--email a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	background: url("../img/email.svg") no-repeat center / contain;
}

footer .footer-contact li.--phone a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	background: url("../img/phone.svg") no-repeat center / contain;
}

footer .footer-contact li.--addres a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	background: url("../img/location.svg") no-repeat center / contain;
}

#sub_btn {
	background: transparent;
	border: 0;
	color: var(--red);
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
}

#subscribe .close {
	display: none;
}

footer a.link {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	padding: 15px 99px;
	border-radius: 16px;
}

footer input[type="email"] {
	background: #f5f5f5;
	border: 0;
	border-radius: 16px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	padding: 16px;
	width: 100%;
	max-width: 328px;
	margin-bottom: 24px;
}
